* {
    margin: 0;
    padding: 0;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

div.Container {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: auto;
    scrollbar-width: none;
    color: #fff;
    background: linear-gradient(-45deg, #280147, #d2e0f060, #212d43, #000000);
    background-size: 400% 400%;
    -webkit-animation: Gradient 30s ease infinite;
    -moz-animation: Gradient 30s ease infinite;
    animation: Gradient 30s ease infinite;

    &::-webkit-scrollbar {
        display: none;
    }
}

div.Section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
div.mContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
div.mLeft {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-left: 5%;
}
h1.Title {
    font-size: 74px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
h2.subTitle {
    color: #fc650c;
    margin-left: 10%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
div.mRight {
    flex: 2;
    position: relative;
}
img.mImg {
    width: 60%;
    height: 60%;
    object-fit: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
